# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

# Secret key
*.secret

# Media files
media/

# Static files
static/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Compiled Python bytecode
__pycache__/
*.pyc
*.pyo

# Docker
docker-compose.yml
Dockerfile
